<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Artículo</title>
    <script src="https://kit.fontawesome.com/8d24a6e83f.js" crossorigin="anonymous"></script>
    <!-- CSS de Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section id="section-header">
      <%- include("partials/navbar", {loginBtn: textoBoton, link: ruta, loginBtnB:
      textoBotonB,linkB: rutaB, loginBtnC: textoBotonC, linkC: rutaC  }) %>
    </section>

    <section id="createForm" class="section-content">
      <div class="container shadow rounded p-5 mt-5">
        <form method="post" action="/panel/comments/<%=comment.id%>/editar?_method=PATCH"> 
        <label for="articleContent" class="form-label fw-bold">Comentario a editar</label>
            <textarea
              type="text"
              class="form-control"
              id="articleContent"
              style="height: 100px"
              name="content"
            >
            <%=comment.content%></textarea
            >
            <button type="submit" class="btn btn-primary form-control mt-3">Guardar cambios</button>
          </div>

          
        </form>
      </div>
    </section>

    <section id="section-footer"><%- include("partials/footer") %></section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</htm>
